.brightness1 {
  background-color: #52423b;
  width: 312px;
  height: 334px;
  filter: blur(81.5px);
  padding: 0px;
  z-index: 1;
  position: absolute;
}
.brightness2 {
  background-color: #52423b;
  width: 156px;
  height: 178px;
  flex-shrink: 0;
  filter: blur(81.5px);
  margin-top: 150px;
  margin-left: 260px;
  position: relative;
}
.hero1 {
  margin-bottom: 400px;
}
