main {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  align-items: center;
}
.nameAnd {
  width: 478px;
  color: #fff;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.roleAnd {
  width: 613px;
  color: #fff;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}
.detailsAnd {
  width: 564px;
  flex-shrink: 0;
  color: #fff;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: justify;
}

img {
  width: 400px;
  height: 520px;
  border-radius: 42px;
  background: #2f2928;
  box-shadow: 17px 15px 4px 0px rgba(0, 0, 0, 0.3);
}
