.hero2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin-top: -100px;
}
.cardLarg {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 13px;
  align-items: center;
  padding: 20px;
  border-radius: 37px;
  box-shadow: 7px 6px 5px 0px rgba(0, 0, 0, 0.25);
}

.cardLarg,
.cardLarg div,
span {
  background-color: #403b39;
}
.cardLarg img::before {
  content: "Important!";
  /* Other styles for the pseudo-element */
}

.cardLarg span {
  font-size: 30px;
}
@media (max-width: 768px) {
  .hero2 {
    flex-direction: column;
  }
  .cardLarg {
    padding: 60px;
    gap: 30px;
  }
  .cardLarg img {
    display: none;
  }
}

@media (max-width: 544px) {
  .cardLarg {
    width: 300px;
    padding: 30px;
    flex-direction: column;
    gap: 30px;
    margin-top: -200px;
  }
}

@media (max-width: 340px) {
}

.recent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 40px;
  margin-top: 80px;
  align-items: center;
}

.recentimages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.recentimages .imageLayout {
  width: 183px;
  height: 200px;
  border-radius: 37px;
  box-shadow: 7px 6px 5px 0px rgba(0, 0, 0, 0.25);
}
.imageLayout {
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.imageLayout,
.imageLayout img {
  background-color: #403b39;
}
.recentimages img {
  border-radius: 37px;
  padding: 6px;
  width: 180px;
  background-blend-mode: luminosity;
}

.details2 {
  width: 423px;
  height: 109px;
  flex-shrink: 0;
  color: #fff;

  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.roleDetails {
  width: 423px;
  height: 24px;
  flex-shrink: 0;
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 768px) {
  .recent {
    flex-direction: column;
    gap: 40px;
    justify-content: space-around;
    align-items: center;
  }
}

@media (max-width: 544px) {
}

@media (max-width: 340px) {
}
